<div class="cashflow-chart h-full">
  <script src="/assets/js/web-components/bar-line-chart.js" type="module"></script>
  <div class="h-full">
    <bar-line-chart chartDatasets__bars="{{json .Cashflow.Datasets}}"
      chartDatasets__lines="{{json .Cashflow.NetDatasets }}" chartLabels="{{json .Cashflow.ChartLabels}}"
      chartTitle="Cashflow" rightAxesTitle="Net Amount" leftAxesTitle="In/Out" botAxesTitle="Date"
      style="height: 100%; display: block;">
    </bar-line-chart>
  </div>
</div>
