{{ $cell_class := ""}}
{{ $lable_class := "w-full block"}}
<form hx-post="/transaction" hx-target=".add-transaction-msg" class="">
  <div class="grid grid-cols-2 gap-2 overflow-auto mb-2">

    <div class="{{$cell_class}}">
      <label for="date" class="{{$lable_class}}">Date</label>
      <input name="date" required type="date" />
    </div>

    <div class="{{$cell_class}}">
      <label for="ticker-symbol" class="{{$lable_class}}">Ticker</label>
      <input name="ticker-symbol" required type="text" value="" />
    </div>

    <div class="{{$cell_class}}">
      <label for="transaction-type" class="{{$lable_class}}">Type</label>
      <select name="transaction-type" required value="buy">
        <option disabled selected value="">Select a type</option>
        <option value="buy">Buy</option>
        <option value="sell">Sell</option>
      </select>
    </div>

    <div class="{{$cell_class}}">
      <label for="price" class="{{$lable_class}}">Price</label>
      <input name="price" required type="number" value="" />
    </div>

    <div class="{{$cell_class}}">
      <label for="volume" class="{{$lable_class}}">Volume</label>
      <input name="volume" required type="number" value="" />
    </div>

    <div class="{{$cell_class}}">
      <label for="commission" class="{{$lable_class}}">Commission</label>
      <input name="commission" type="number" />
    </div>

    <div class="{{$cell_class}}">
      <label for="note" class="{{$lable_class}}">Note</label>
      <input name="note" type="text" />
    </div>

    <div class="{{$cell_class}}">
      <label for="portfolio-id" class="{{$lable_class}}">Portfolio</label>
      <input name="portfolio-id" required type="number" value="" />
    </div>

    <div class="{{$cell_class}}">
      <label for="ref-id" class="{{$lable_class}}">Ref</label>
      <input name="ref-id" type="number" />
    </div>
  </div>

  <button type="submit" class="main">Add</button>
</form>
<div class="add-transaction-msg"></div>
