<div class="transactions-list" id="transaction-list" hx-trigger="new-transaction from:body" hx-swap="outerHTML"
  hx-get="htmx/components/transaction/list{{ if .QueryString }}?{{.QueryString}}{{ end }}">
  {{ if .Transactions }}
  <table>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>TickerSymbol</th>
      <th>TransactionType</th>
      <th>Volume</th>
      <th>Price</th>
      <th>Commission</th>
      <th>Note</th>
      <th>PortfolioID</th>
      <th>RefID</th>
      <th>Total</th>
    </tr>
    {{range .Transactions }}
    <tr>
      <td class="text-center">{{ .ID }}</td>
      <td class="text-center">{{ .Date.String }}</td>
      <td class="uppercase text-center">{{ .TickerSymbol }}</td>
      <td class="uppercase text-center">{{ .TransactionType }}</td>
      <td class="text-right">{{ format "%v" .Volume }}</td>
      <td class="text-right">{{ format "%v" .Price }}</td>
      <td class="text-right">{{ format "%v" .Commission }}</td>
      <td>{{ .Note.Value }}</td>
      <td class="text-center ">
        <a href="/portfolio/{{.PortfolioID}}" class="decoration-none">
          {{ .PortfolioID }}
        </a>
      </td>
      <td>{{ .RefID.Value }}</td>
      <td class="text-right">{{ format "%v" .Total}}</td>
    </tr>
    {{ end }}
  </table>
  {{ else }}
  <p>No transaction found!</p>
  {{ end }}
</div>
