<div class="transactions-list overflow-auto" id="transaction-list" hx-trigger="new-transaction from:body"
  hx-swap="outerHTML" hx-get="htmx/components/transaction/list{{ if .QueryString }}?{{.QueryString}}{{ end }}"
  hx-target="this">
  {{block "transaction-pagination" .}}
  {{ if .Pagination }}
  {{ $pagination := .Pagination}}
  {{ $per_page := .Pagination.PerPage }}
  {{ $count := .Pagination.Count }}
  <div class="pagination transactions__pagination pagination__warper">
    <div class="pagination__buttons flex gap-1 justify-end">
      {{ range $_page := seq .Pagination.MaxPage}}
      {{ $page := add $_page 1}}
      <button type="button" {{if eq $page $pagination.Page}}disabled{{end}}
        hx-get="htmx/components/transaction/list?page={{$page}}&per_page={{$pagination.PerPage}}">
        {{$page}}
      </button>
      {{ end }}
    </div>
    <div>
      <p class="text-right">Showing {{$per_page}} of {{$count}} transactions</p>
    </div>
  </div>
  {{ end }}
  {{end}}
  {{ if .Transactions }}
  <div class="table w-full">
    <div class="table-header-group">
      <div class="table-row">
        <div class="table-cell">ID</div>
        <div class="table-cell">Date</div>
        <div class="table-cell">TickerSymbol</div>
        <div class="table-cell">TransactionType</div>
        <div class="table-cell">Volume</div>
        <div class="table-cell">Price</div>
        <div class="table-cell">Commission</div>
        <div class="table-cell">Note</div>
        <div class="table-cell">PortfolioID</div>
        <div class="table-cell">RefID</div>
        <div class="table-cell">Total</div>
      </div>
    </div>
    <div class="table-row-group">
      {{range .Transactions }}
      <div class="table-row">
        <div class="table-cell text-center">{{ .ID }}</div>
        <div class="table-cell text-center">{{ .Date.String }}</div>
        <div class="table-cell uppercase text-center">{{ .TickerSymbol }}</div>
        <div class="table-cell uppercase text-center">{{ .TransactionType }}</div>
        <div class="table-cell text-right">{{ format "%v" .Volume }}</div>
        <div class="table-cell text-right">{{ format "%v" .Price }}</div>
        <div class="table-cell text-right">{{ format "%v" .Commission }}</div>
        <div>{{ .Note.Value }}</div>
        <div class="table-cell text-center ">
          <a href="/portfolio/{{.PortfolioID}}" class="decoration-none">
            {{ .PortfolioID }}
          </a>
        </div>
        <div class="table-cell">{{ .RefID.Value }}</div>
        <div class="table-cell text-right">{{ format "%v" .Total}}</div>
      </div>
      {{ end }}
    </div>
  </div>
  {{ template "transaction-pagination" . }}
  {{ else }}
  <p>No transaction found!</p>
  {{ end }}
</div>
