<div class="transactions-list" id="transaction-list" hx-trigger="new-transaction from:body" hx-swap="outerHTML"
  hx-get="htmx/components/transaction/list{{ if .QueryString }}?{{.QueryString}}{{ end }}">
  {{ if .Transactions }}
  <table>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>TickerSymbol</th>
      <th>TransactionType</th>
      <th>Volume</th>
      <th>Price</th>
      <th>Commission</th>
      <th>Note</th>
      <th>PortfolioID</th>
      <th>RefID</th>
    </tr>
    {{range .Transactions }}
    <tr>
      <td>{{ .ID }}</td>
      <td>{{ .Date.String }}</td>
      <td>{{ .TickerSymbol }}</td>
      <td>{{ .TransactionType }}</td>
      <td>{{ .Volume }}</td>
      <td>{{ .Price }}</td>
      <td>{{ .Commission }}</td>
      <td>{{ .Note.Value }}</td>
      <td>{{ .PortfolioID }}</td>
      <td>{{ .RefID.Value }}</td>
    </tr>
    {{ end }}
  </table>
  {{ else }}
  <p>No transaction found!</p>
  {{ end }}
</div>
