<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    {{ if .Title }}{{ .Title }}{{ else }}Default Main Title{{ end }} | My
    Finance App
  </title>
</head>

<body>
  <div class="nav">{{ partial "partials/nav" . }}</div>
  <div class="errors">
    {{ if .Errors }} {{ range .Errors }}
    <p>{{ . }}</p>
    {{ end }} {{ end }}
  </div>
  {{ template "content" . }}

  <footer>{{ partial "partials/footer" . }}</footer>
</body>

</html>
