<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    {{ if .Title }}{{ .Title }}{{ else }}Default Main Title{{ end }} | My
    Finance App
  </title>
  <script src="https://unpkg.com/htmx.org@1.9.5"
    integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
    crossorigin="anonymous"></script>
  <style>
    :root {
      --accent: #f29326;
      --danger: #fb464c;
    }
  </style>
  <script src="https://cdn.jsdelivr.net/npm/@unocss/runtime"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@unocss/reset/normalize.min.css" />
  <script>
    console.log("UnoCSS version: ", window.__unocss_runtime?.version);
  </script>
  <link rel="stylesheet" href="/assets/css/style.css" />
  <script>
    // pass unocss options
    window.__unocss = {
      rules: [
        // custom rules...
      ],
      presets: [
        // custom presets...
      ],
    };
  </script>
</head>

<body class="rounded-lg">
  <div class="nav">{{ template "partials/nav" . }}</div>
  <div class="errors">
    {{ if .Errors }} {{ range .Errors }}
    <p>{{ . }}</p>
    {{ end }} {{ end }}
  </div>
  {{embed}}

  <footer>{{ template "partials/footer" . }}</footer>
</body>

</html>
