{{ if .Ticker }} {{ with .Ticker }}
<form hx-put="/ticker/{{.Symbol}}" hx-target="this" hx-swap="outerHTML">
  <div>
    <label>Symbol: </label>
    {{.Symbol}}
  </div>
  <div>
    <label for="name">Name: </label>
    <input type="text" name="name" value="{{.Name}}" />
  </div>
  <div>
    <label for="current-price">Name: </label>
    <input type="text" name="current-price" value="{{.CurrentPrice.Actual}}" />
  </div>
  <button>Save</button>
  <button hx-get="/htmx/components/ticker/detail/{{.Symbol}}">Cancel</button>
</form>
{{ end }} {{end}}
