{{ $query_string := "" }}
{{ if .TickerQuery }}
{{ $query_string = (printf "%v%v" $query_string (queryString .TickerQuery)) }}
{{ end }}
<div class="ticker-list" id="ticker-list" hx-trigger="new-ticker from:body" hx-swap="outerHTML"
  hx-get="htmx/components/ticker/list{{if ne $query_string ""}}?{{$query_string}}{{end}}" hx-target="this"
  hx-select="#ticker-list">
  {{ if .Tickers }}
  {{block "ticker-pagination" .}}
  {{ if .TickerQuery.Pagination }}
  {{ $pagination := .TickerQuery.Pagination}}
  {{ $per_page := .TickerQuery.Pagination.PerPage }}
  {{ $count := .TickerQuery.Pagination.Count }}
  <div class="pagination tickers__pagination pagination__warper">
    <div class="pagination__buttons flex gap-1 justify-end">
      {{ range $_page := seq $pagination.MaxPage }}
      {{ $page := add $_page 1}}
      <button type="button" {{if eq $page $pagination.Page}}disabled{{end}}
        hx-get="htmx/components/ticker/list?page={{$page}}&per_page={{$pagination.PerPage}}">
        {{$page}}
      </button>
      {{ end }}
    </div>
    <div>
      <p class="text-right">
        Showing {{ if lt $per_page $count }}{{$per_page}} {{else}} {{$count}}{{end}} of {{$count}} tickers
      </p>
    </div>
  </div>
  {{ end }}
  {{ end }}
  <div class="table w-full overflow-auto">
    <div class="table-header-group">
      <div class="table-row">
        <div class="table-cell">Symbol</div>
        <div class="table-cell">Name</div>
        <div class="table-cell">Current Price</div>
        <div class="table-cell">Price Updated At</div>
        <div class="table-cell">Actions</div>
      </div>
    </div>
    <div class="table-row-group">
      {{range .Tickers }}
      {{ template "parts/ticker/ticker-row" . }}
      {{ end }}
    </div>
  </div>
  {{ template "ticker-pagination" . }}
  {{ else }}
  <p>No ticker found!</p>
  {{ end }}
</div>
<div class="search-results">
  {{ if .Tickers }}
  {{range .Tickers }}
  {{ template "parts/ticker/search-result-row" . }}
  {{ end }}
  {{else}}
  <p>No ticker found!</p>
  {{end}}

</div>
