<div class="ticker-list" id="ticker-list" hx-trigger="new-ticker from:body" hx-swap="outerHTML"
  hx-get="htmx/components/ticker/list{{ if .QueryString }}?{{.QueryString}}{{ end }}">
  <div class="errors">
    {{ if .Errors }} {{ range .Errors }}
    <p>{{ . }}</p>
    {{ end }} {{ end }}
  </div>
  {{ if .Tickers }}
  <table>
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Name</th>
        <th>Current Price</th>
        <th>Price Updated At</th>
      </tr>
    </thead>
    <tbody>
      {{range .Tickers }}
      {{ template "parts/ticker/ticker-row" . }}
      {{ end }}
    </tbody>
  </table>
  {{ else }}
  <p>No ticker found!</p>
  {{ end }}
</div>
