<div class="ticker-list" id="ticker-list" hx-trigger="new-ticker from:body" hx-swap="outerHTML"
  hx-get="htmx/components/ticker/list{{ if .QueryString }}?{{.QueryString}}{{ end }}">
  <div class="errors">
    {{ if .Errors }} {{ range .Errors }}
    <p>{{ . }}</p>
    {{ end }} {{ end }}
  </div>
  {{ if .Tickers }}
  <div class="table">
    <div class="table-header-group">
      <div class="table-row">
        <div class="table-cell">Symbol</div>
        <div class="table-cell">Name</div>
        <div class="table-cell">Current Price</div>
        <div class="table-cell">Price Updated At</div>
        <div class="table-cell">Actions</div>
      </div>
    </div>
    <div class="table-row-group">
      {{range .Tickers }}
      {{ template "parts/ticker/ticker-row" . }}
      {{ end }}
    </div>
  </div>
  {{ else }}
  <p>No ticker found!</p>
  {{ end }}
</div>
