<h3>Transactions Page</h3>
<div>
  <p>Add New Portfolio</p>
  <form method="post">
    <label for="date">Date</label>
    <input name="date" required type="date" />
    <br />

    <label for="ticker">Ticker</label>
    <input name="ticker" required type="text" value="xxx" />
    <br />

    <label for="type">Type</label>
    <select name="type" required value="buy">
      <option disabled selected value="">Select a type</option>
      <option value="buy">Buy</option>
      <option value="sell">Sell</option>
      <option value="some">Some</option>
    </select>
    <br />

    <label for="price">Price</label>
    <input name="price" required type="number" value="1000" />
    <br />

    <label for="volume">Volume</label>
    <input name="volume" required type="number" value="1000" />
    <br />

    <label for="commission">Commission</label>
    <input name="commission" type="number" />
    <br />

    <label for="note">Note</label>
    <input name="note" type="text" />
    <br />

    <label for="portfolio-id">Portfolio</label>
    <input name="portfolio-id" required type="number" value="2" />
    <br />

    <label for="ref-id">Ref</label>
    <input name="ref-id" type="number" />
    <br />

    <button type="submit">Add</button>
  </form>
</div>
<div class="transactions-list">
  {{ if .Transactions }}
  <table>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>TickerSymbol</th>
      <th>TransactionType</th>
      <th>Volume</th>
      <th>Price</th>
      <th>Commission</th>
      <th>Note</th>
      <th>PortfolioID</th>
      <th>RefID</th>
    </tr>
    {{range .Transactions }}
    <tr>
      <td>{{ .ID }}</td>
      <td>{{ .Date }}</td>
      <td>{{ .TickerSymbol }}</td>
      <td>{{ .TransactionType }}</td>
      <td>{{ .Volume }}</td>
      <td>{{ .Price }}</td>
      <td>{{ .Commission }}</td>
      <td>{{ .Note }}</td>
      <td>{{ .PortfolioID }}</td>
      <td>{{ .RefID }}</td>
    </tr>
    {{ end }}
  </table>
  {{ else }}
  <p>No transaction found!</p>
  {{ end }}
</div>
