.errors {
  color: red;
}

[un-cloak] {
  display: none;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}
p {
  margin: 0;
}

a {
  color: var(--accent);
}

table,
.table {
  border-collapse: collapse;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr,
.table-header-group .table-row {
  background-color: var(--accent);
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

th,
td,
.table-cell {
  padding: 12px 15px;
}

tbody tr,
.table-row-group .table-row {
  border-bottom: thin solid #dddddd;
}

tbody tr:nth-of-type(even),
.table-row-group .table-row:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:last-of-type,
.table-row:last-of-type {
  border-bottom: medium solid var(--accent);
}

button {
  border-radius: 0.5em;
  border-style: none;
  box-sizing: border-box;
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  outline: none;
  padding: 5px 10px;
  text-align: center;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  color: #ffffff;
  margin: 0.1em;
  background-color: var(--_bg-color, #363636);
}

button:disabled {
  background-color: var(--_bg_color_disable, gray);
  cursor: default;
}

button.main {
  --_bg-color: var(--accent);
}

button:hover,
button:focus {
  filter: brightness(120%);
}

input,
select {
  padding: 8px 10px;
  margin: 1px 0;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  box-sizing: border-box;
}

input:focus-visible,
select:focus-visible {
  outline-color: var(--accent);
  outline-width: thin;
}
