.errors {
  color: red;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr {
  background-color: var(--accent);
  color: #ffffff;
  text-align: left;
}

th,
td {
  padding: 12px 15px;
}

tbody tr {
  border-bottom: thin solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:last-of-type {
  border-bottom: medium solid var(--accent);
}

button {
  border-radius: 0.5em;
  border-style: none;
  box-sizing: border-box;
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  outline: none;
  padding: 5px 10px;
  text-align: center;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  color: #ffffff;
  background-color: #363636;
  margin: 0.1em;
}

button.main {
  background-color: var(--accent);
}

button:hover,
button:focus {
  filter: brightness(120%);
}

input[type="text"],
select {
  padding: 8px 10px;
  margin: 1px 0;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  box-sizing: border-box;
}

input[type="text"]:focus-visible,
select:focus-visible {
  outline-color: var(--accent);
  outline-width: thin;
}
