<div class="portfolio-detail w-full" hx-target="this" hx-swap="outerHTML">
  {{ if .Portfolio }} {{with .Portfolio}}
  <div
    class="card m-auto rounded-lg bg-gradient-to-r from-cyan-500 to-blue-500 text-white overflow-hidden p-4 max-w-md">
    <div class="w-full flex text-right items-center">
      <p>Portfolio</p>
      <div class="buttons ml-auto">
        <button class="" hx-get="/htmx/components/portfolio/edit-form/{{.ID}}">Edit</button>
      </div>
    </div>
    <p class="text-3xl font-bold">{{.Name}} <span class="text-base font-light my-4">{{.ID}}</span></p>
    <p>{{.Description}}</p>
  </div>
  {{ end }}{{ end }}
</div>
