{{ if .Portfolio }} {{ with .Portfolio }}
{{ $input_cls := "text-white bg-transparent focus-visible:outline-none p-0 border-b-gray-4 focus-visible:border-b-white border-t-none border-x-none rounded-none"}}
<div class="portfolio-detail w-full" hx-target="this" hx-swap="outerHTML">
  <form hx-put="/portfolio/{{.ID}}"
    class="card m-auto rounded-lg bg-gradient-to-r from-cyan-500 to-blue-500 text-white overflow-hidden p-4 max-w-md">
    <div class="w-full flex text-right items-center">
      <p>Portfolio</p>
      <div class="buttons ml-auto">
        <button class="main">Save</button>
        <button hx-get="/htmx/components/portfolio/detail/{{.ID}}">Cancel</button>
      </div>
    </div>
    <input class="{{$input_cls}} text-3xl font-bold" type="text" name="name" value="{{.Name}}" />
    <input class="{{$input_cls}} text-base" type="text" name="description" value="{{.Description}}" />
    <div class="w-full flex">
      <button class="ml-auto" hx-delete="/portfolio/{{.ID}}" hx-confirm="Are you sure you wish to delete this portfolio?">
        Delete
      </button>
    </div>
  </form>
</div>
{{ end }}{{ end }}
