<div class="portfolio-holding" id="holding">
  <h3>Current Holding</h3>
  {{ if .Holdings }}
  <table class="w-full">
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Portfolio ID</th>
        <th>Total Shares</th>
        <th>Total Cost</th>
        <th>Average Price</th>
        <th>Current Price</th>
        <th>Updated At</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{ range .Holdings}} {{ template "parts/portfolio/symbol-holding" .}}
      {{else}}
      <tr>
        <td>No holding found!</td>
      </tr>
      {{end}}
    </tbody>
  </table>
  {{ end }}
</div>
