<div class="portfolio-holding overflow-auto" id="holding">
  <h3>Current Holding</h3>
  {{ if .Holdings }}
  {{ template "parts/portfolio/distribution-chart" .}}
  <table class="w-full">
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Total Shares</th>
        <th>Total Cost</th>
        <th>Average Price</th>
        <th>Current Price</th>
        <th>Current Value</th>
        <th>Updated At</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="font-bold">Summary</td>
        <td></td>
        <td class="font-bold text-right" hx-get="/htmx/components/portfolio/holding-cost/{{.PortfolioID}}"
          hx-trigger="load, update-holding from:body"></td>
        <td></td>
        <td></td>
        <td class="font-bold text-right" hx-get="/htmx/components/portfolio/holding-value/{{.PortfolioID}}"
          hx-trigger="load, update-holding from:body"></td>
        <td colspan="2" class="text-right">
          <button hx-post="/portfolio/{{.PortfolioID}}/holding" hx-target="#holding">
            Update All
          </button>
        </td>
      </tr>
      {{ range .Holdings}}
      {{ template "parts/portfolio/symbol-holding" .}}
      {{else}}
      <tr>
        <td>No holding found!</td>
      </tr>
      {{end}}
    </tbody>
  </table>
  {{ end }}
</div>
