{{ $holding_id := printf "holding-%s-%d" .Symbol .PortfolioID}}
{{$cv_class := ""}}
{{ if gt .GainLoss 0}}
{{ $cv_class = "text-green-5"}}
{{ else }}
{{ $cv_class = "text-red"}}
{{ end }}
<tr id="{{$holding_id}}">
  <td class="uppercase text-center">{{.Symbol}}</td>
  <td class="text-right">{{ format "%v" .TotalShares}}</td>
  <td class="text-right">{{ format "%v" .TotalCost}}</td>
  <td class="text-right">{{ format "%v" .AveragePrice}}</td>
  <td class="text-right">
    {{ if ne .GainLoss 0}}
    <span class="{{$cv_class}} text-sm">
      {{ if gt .GainLoss 0}}+{{end}}{{ format "%.2f" .GainLossPercent }}%
    </span>
    {{ format "%v" .CurrentValue.Value}}
    <p class="{{$cv_class}} m-0">{{format "%v" .GainLoss}}</p>
    {{ else }}
    {{ format "%v" .CurrentValue.Value}}
    {{ end }}
  </td>
  <td>{{ UnixTimeFmt .UpdatedAt.Value "15:04 02-01-2006"}}</td>
  <td>
    <button type="button" hx-post="/portfolio/{{.PortfolioID}}/holding/{{.Symbol}}" hx-target="#{{$holding_id}}"
      hx-swap="outerHTML">
      Update
    </button>
  </td>
</tr>
